* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 1vw;
  padding: 0;
}

.square {
  background: #fff;
  border: 0.5vw solid #999;
  float: left;
  font-size: 12vw;
  font-weight: bold;
  line-height: 5vw;
  height: 10vw;
  margin-right: -0.5vw;
  margin-top: -0.5vw;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.winsquare {
  background: #b8b7b5;
  border: 0.5vw solid black;
  float: left;
  font-size: 12vw;
  font-weight: bold;
  line-height: 5vw;
  height: 10vw;
  margin-right: -0.5vw;
  margin-top: -0.5vw;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.statusmass {
  width: 40vw;
}
.status {
  margin-bottom: 3vw;
  font-size: 5vw;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 2vw;
}

.button {
  border: 0.3vw solid transparent;
  background: #dcdcdc;
  height: 5vw;
  font-size: 3vw;
  margin-bottom: 1vw;
}
.button:hover {
  border: 0.3vw solid #696969;
  background: #dcdcdc;
  color: #333;
}
.order {
  border: 0.3vw solid transparent;
  font-size: 3vw;
}
.discription {
}
.order:hover {
  border: 0.3vw solid #696969;
  background: #dcdcdc;
  color: #333;
}
